.mainPage {
  margin: 0 !important;
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 12px;
  
  &::before {
    position: absolute;
    left: 0;
    top: -2px;
    z-index: -999;
    display: block;
    width: 100vw;
    height: 100vh;
    content: '';
    background: url(~@/assets/background.JPG);
    background-size: 100vw 100vh;
  }

  // &::after {
  //   position: absolute;
  //   left: 0;
  //   top: -2px;
  //   z-index: -500;
  //   display: block;
  //   width: 100vw;
  //   height: 100vh;
  //   content: '';
  //   background: radial-gradient(rgba(#fff, 0) 0%,rgba(#fff, 0) 30%, rgba(#fff, 0.8) 100%);
  //   background-size: 100vw 100vh;
  // }

  .leftPane {
    margin-right: 20px;
    width: var(--workbench-menu-width, 120px);
    height: 100%;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--workbench-tabs-height, 60px);
      font-size: 14px;
      span {
        color: var(--primary-color);
      }
    }
    .menu {
      margin-top: 20px;
      width: var(--workbench-menu-width, 120px);
      height: calc(100% - var(--workbench-tabs-height, 60px) - 20px);
    }
  }

  .rightPane {
    width: calc(100% - var(--workbench-menu-width, 120px));
    height: 100%;
    .tabs {
      display: flex;
      justify-content: space-between;
      height: var(--workbench-tabs-height, 60px);
    }
    .contentContainer {
      margin-top: 20px;
      width: 100%;
      height: calc(100% - var(--workbench-tabs-height, 60px) - 20px);
    }
  }

  .section {
    background: var(--primary-color-4, rgba(white, 0.5));
    border-radius: var(--section-border-radius, 8px);
    box-shadow: var(--section-shadow);
  }
}