.menuItem {
  margin: 0 auto 12px;
  display: block;
  width: 80%;
  height: 30px;
  background: var(--primary-color-2, white);
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  color: white;
  &:hover {
    background: var(--primary-color, white);
  }
  &.active {
    background: var(--primary-color, white);
  }
}